@model IEnumerable<Mapper.DataMapper.Times>

@{
    ViewBag.Title = "Shedule";
}

<h2>Shedule</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.s_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leaving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.next_stop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_known_stop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.s_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leaving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.next_stop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_known_stop)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
        </td>
    </tr>
}

</table>
