@model IEnumerable<Mapper.DataMapper.Shedule>

@{
    ViewBag.Title = "Shedule";
}

<h2>Shedule</h2>

<table class="table">
    <tr>
        <th>
            Bus
        </th>
        <th>
            Směr
        </th>
        <th>
            Odjezd
        </th>
        <th>
            Zpoždění
        </th>
        <th>
            Poslední známá poloha
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           <b> @Html.DisplayFor(modelItem => item.bus) </b>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_known)
        </td>
        <td>
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Uložit jako textový soubor (.txt)", "Download", "Times")
</div>